input[type=text], input[type=email], input[type=password]{
	height: 1.25em;
	width: auto;
	padding-right: 2em;
	padding-left: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 10px;
	font-style: italic;
	font-weight: bolder;
	box-shadow: 2px 2px 20px rgba(7, 0, 80, 0.61);
}

#log{
	text-align: center;
	padding: 1em;
	border-radius: 10px;
	border: none;
}
ln{
	font-style: italic;
	font-weight: bolder;
	position: relative;
}
ln:hover{
	cursor: pointer;
	text-decoration: underline black 2px;
}
.container-login{
	background: linear-gradient(to top left,rgba(111, 104, 189, 0.61), rgba(120, 121, 226, 0.84));
	border-radius: 10px;
	box-shadow: 2px 3px 10px rgba(133, 135, 255, 0.59);
	margin: 100px auto;
	width: 300px;
	padding: 1em;
}
body{
	background-color:rgba(212, 212, 222, 0.49);
}